{{define "billing_nav" -}}
<nav class="tabs" aria-label="Billing sections">
  <ul>
    <li><a href="{{.BasePath}}">Overview</a></li>
    <li><a href="{{.BasePath}}/plans">Plans</a></li>
    <li><a href="{{.BasePath}}/invoices">Invoices</a></li>
    <li><a href="{{.BasePath}}/usage">Usage</a></li>
    <li><a href="{{.BasePath}}/payment-methods">Payment methods</a></li>
  </ul>
</nav>
{{- end}}
